@mixin floatMeLeft {
  background-color: black;
  color: white;
  padding: 1em;
  margin: 0;
  display: block;
  border-radius: 2px;
  text-shadow: 0 0 2px rgba(0,0,0,.8);
  box-shadow: 0 0 2px rgba(0,0,0,.2);
}

.one {
  @include floatMeLeft;
}

.two {
  @include floatMeLeft;
}

.three {
  @include floatMeLeft;
}

.four {
  @include floatMeLeft;
}

.five {
  @include floatMeLeft;
}

.six {
  @include floatMeLeft;
}

.seven {
  @include floatMeLeft;
}

.eight {
  @include floatMeLeft;
}

.nine {
  @include floatMeLeft;
}

.ten {
  @include floatMeLeft;
}

.eleven {
  @include floatMeLeft;
}

.twelve {
  @include floatMeLeft;
}

.thirteen {
  @include floatMeLeft;
}

.fourteen {
  @include floatMeLeft;
}

.fifteen {
  @include floatMeLeft;
}

.sixteen {
  @include floatMeLeft;
}

.seventeen {
  @include floatMeLeft;
}

.eighteen {
  @include floatMeLeft;
}

.nineteen {
  @include floatMeLeft;
}

.twelve {
  @include floatMeLeft;
}

.twentyone {
  @include floatMeLeft;
}

.twentytwo {
  @include floatMeLeft;
}

.twentythree {
  @include floatMeLeft;
}

.twentyfour {
  @include floatMeLeft;
}

.twentyfive {
  @include floatMeLeft;
}

.twentysix {
  @include floatMeLeft;
}

.twentyseven {
  @include floatMeLeft;
}

.twentyeight {
  @include floatMeLeft;
}

.twentynine {
  @include floatMeLeft;
}

.thirty {
  @include floatMeLeft;
}

.thirtyone {
  @include floatMeLeft;
}

.thirtytwo {
  @include floatMeLeft;
}

.thirtythree {
  @include floatMeLeft;
}

.thirtyfour {
  @include floatMeLeft;
}

.thirtyfive {
  @include floatMeLeft;
}

.thirtysix {
  @include floatMeLeft;
}

.thirtyseven {
  @include floatMeLeft;
}

.thirtyeight {
  @include floatMeLeft;
}

.thirtynine {
  @include floatMeLeft;
}

.fourty {
  @include floatMeLeft;
}

.fourtyone {
  @include floatMeLeft;
}

.fourtytwo {
  @include floatMeLeft;
}

.fourtythree {
  @include floatMeLeft;
}

.fourtyfour {
  @include floatMeLeft;
}

.fourtyfive {
  @include floatMeLeft;
}

.fourtysix {
  @include floatMeLeft;
}

.fourtyseven {
  @include floatMeLeft;
}

.fourtyeight {
  @include floatMeLeft;
}

.fourtynine {
  @include floatMeLeft;
}

.fifty {
  @include floatMeLeft;
}

.fiftyone {
  @include floatMeLeft;
}

.fiftytwo {
  @include floatMeLeft;
}

.fiftythree {
  @include floatMeLeft;
}

.fiftyfour {
  @include floatMeLeft;
}

.fiftyfive {
  @include floatMeLeft;
}

.fiftysix {
  @include floatMeLeft;
}

.fiftyseven {
  @include floatMeLeft;
}

.fiftyeight {
  @include floatMeLeft;
}

.fiftynine {
  @include floatMeLeft;
}

.sixty {
  @include floatMeLeft;
}

.sixtyone {
  @include floatMeLeft;
}

.sixtytwo {
  @include floatMeLeft;
}

.sixtythree {
  @include floatMeLeft;
}

.sixtyfour {
  @include floatMeLeft;
}

.sixtyfive {
  @include floatMeLeft;
}

.sixtysix {
  @include floatMeLeft;
}

.sixtyseven {
  @include floatMeLeft;
}

.sixtyeight {
  @include floatMeLeft;
}

.sixtynine {
  @include floatMeLeft;
}

.seventy {
  @include floatMeLeft;
}

.seventyone {
  @include floatMeLeft;
}

.seventytwo {
  @include floatMeLeft;
}

.seventythree {
  @include floatMeLeft;
}

.seventyfour {
  @include floatMeLeft;
}

.seventyfive {
  @include floatMeLeft;
}

.seventysix {
  @include floatMeLeft;
}

.seventyseven {
  @include floatMeLeft;
}

.seventyeight {
  @include floatMeLeft;
}

.seventynine {
  @include floatMeLeft;
}

.eighty {
  @include floatMeLeft;
}

.eightyone {
  @include floatMeLeft;
}

.eightytwo {
  @include floatMeLeft;
}

.eightythree {
  @include floatMeLeft;
}

.eightyfour {
  @include floatMeLeft;
}

.eightyfive {
  @include floatMeLeft;
}

.eightysix {
  @include floatMeLeft;
}

.eightyseven {
  @include floatMeLeft;
}

.eightyeight {
  @include floatMeLeft;
}

.eightynine {
  @include floatMeLeft;
}

.ninety {
  @include floatMeLeft;
}

.ninetyone {
  @include floatMeLeft;
}

.ninetytwo {
  @include floatMeLeft;
}

.ninetythree {
  @include floatMeLeft;
}

.ninetyfour {
  @include floatMeLeft;
}

.ninetyfive {
  @include floatMeLeft;
}

.ninetysix {
  @include floatMeLeft;
}

.ninetyseven {
  @include floatMeLeft;
}

.ninetyeight {
  @include floatMeLeft;
}

.ninetynine {
  @include floatMeLeft;
}

.onehundred {
  @include floatMeLeft;
}