.one { float: left; }

.two { float: left; }

.three { float: left; }

.four { float: left; }

.five { float: left; }

.six { float: left; }

.seven { float: left; }

.eight { float: left; }

.nine { float: left; }

.ten { float: left; }

.ninetyNine { float: left; }

.oneHundred { float: left; }
