.one { background-color: black; color: white; padding: 1em; margin: 0; display: block; border-radius: 2px; text-shadow: 0 0 2px rgba(0, 0, 0, 0.8); box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }

.two { background-color: black; color: white; padding: 1em; margin: 0; display: block; border-radius: 2px; text-shadow: 0 0 2px rgba(0, 0, 0, 0.8); box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }

.three { background-color: black; color: white; padding: 1em; margin: 0; display: block; border-radius: 2px; text-shadow: 0 0 2px rgba(0, 0, 0, 0.8); box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }

.four { background-color: black; color: white; padding: 1em; margin: 0; display: block; border-radius: 2px; text-shadow: 0 0 2px rgba(0, 0, 0, 0.8); box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }

.five { background-color: black; color: white; padding: 1em; margin: 0; display: block; border-radius: 2px; text-shadow: 0 0 2px rgba(0, 0, 0, 0.8); box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }

.six { background-color: black; color: white; padding: 1em; margin: 0; display: block; border-radius: 2px; text-shadow: 0 0 2px rgba(0, 0, 0, 0.8); box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }

.seven { background-color: black; color: white; padding: 1em; margin: 0; display: block; border-radius: 2px; text-shadow: 0 0 2px rgba(0, 0, 0, 0.8); box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }

.eight { background-color: black; color: white; padding: 1em; margin: 0; display: block; border-radius: 2px; text-shadow: 0 0 2px rgba(0, 0, 0, 0.8); box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }

.nine { background-color: black; color: white; padding: 1em; margin: 0; display: block; border-radius: 2px; text-shadow: 0 0 2px rgba(0, 0, 0, 0.8); box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }

.ten { background-color: black; color: white; padding: 1em; margin: 0; display: block; border-radius: 2px; text-shadow: 0 0 2px rgba(0, 0, 0, 0.8); box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }

.ninetyNine { background-color: black; color: white; padding: 1em; margin: 0; display: block; border-radius: 2px; text-shadow: 0 0 2px rgba(0, 0, 0, 0.8); box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }

.oneHundred { background-color: black; color: white; padding: 1em; margin: 0; display: block; border-radius: 2px; text-shadow: 0 0 2px rgba(0, 0, 0, 0.8); box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }
