.one { float: left; }

.two { float: left; }

.three { float: left; }

.four { float: left; }

.five { float: left; }

.six { float: left; }

.seven { float: left; }

.eight { float: left; }

.nine { float: left; }

.ten { float: left; }

.eleven { float: left; }

.twelve { float: left; }

.thirteen { float: left; }

.fourteen { float: left; }

.fifteen { float: left; }

.sixteen { float: left; }

.seventeen { float: left; }

.eighteen { float: left; }

.nineteen { float: left; }

.twelve { float: left; }

.twentyone { float: left; }

.twentytwo { float: left; }

.twentythree { float: left; }

.twentyfour { float: left; }

.twentyfive { float: left; }

.twentysix { float: left; }

.twentyseven { float: left; }

.twentyeight { float: left; }

.twentynine { float: left; }

.thirty { float: left; }

.thirtyone { float: left; }

.thirtytwo { float: left; }

.thirtythree { float: left; }

.thirtyfour { float: left; }

.thirtyfive { float: left; }

.thirtysix { float: left; }

.thirtyseven { float: left; }

.thirtyeight { float: left; }

.thirtynine { float: left; }

.fourty { float: left; }

.fourtyone { float: left; }

.fourtytwo { float: left; }

.fourtythree { float: left; }

.fourtyfour { float: left; }

.fourtyfive { float: left; }

.fourtysix { float: left; }

.fourtyseven { float: left; }

.fourtyeight { float: left; }

.fourtynine { float: left; }

.fifty { float: left; }

.fiftyone { float: left; }

.fiftytwo { float: left; }

.fiftythree { float: left; }

.fiftyfour { float: left; }

.fiftyfive { float: left; }

.fiftysix { float: left; }

.fiftyseven { float: left; }

.fiftyeight { float: left; }

.fiftynine { float: left; }

.sixty { float: left; }

.sixtyone { float: left; }

.sixtytwo { float: left; }

.sixtythree { float: left; }

.sixtyfour { float: left; }

.sixtyfive { float: left; }

.sixtysix { float: left; }

.sixtyseven { float: left; }

.sixtyeight { float: left; }

.sixtynine { float: left; }

.seventy { float: left; }

.seventyone { float: left; }

.seventytwo { float: left; }

.seventythree { float: left; }

.seventyfour { float: left; }

.seventyfive { float: left; }

.seventysix { float: left; }

.seventyseven { float: left; }

.seventyeight { float: left; }

.seventynine { float: left; }

.eighty { float: left; }

.eightyone { float: left; }

.eightytwo { float: left; }

.eightythree { float: left; }

.eightyfour { float: left; }

.eightyfive { float: left; }

.eightysix { float: left; }

.eightyseven { float: left; }

.eightyeight { float: left; }

.eightynine { float: left; }

.ninety { float: left; }

.ninetyone { float: left; }

.ninetytwo { float: left; }

.ninetythree { float: left; }

.ninetyfour { float: left; }

.ninetyfive { float: left; }

.ninetysix { float: left; }

.ninetyseven { float: left; }

.ninetyeight { float: left; }

.ninetynine { float: left; }

.onehundred { float: left; }
